*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#logo{
   margin: 20px 34px;
}

#logo img{
   height: 42px;
   margin: 5px 5px;
}

#navbar ul{
    display: flex;  
    font-family: 'Ubuntu Mono', monospace;
}


#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 20px;
    margin-bottom: 10px;
    text-decoration: none;
 
    border-radius: 14px;

}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}



#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 300px;
    justify-content: center;
    align-items: center;

}

#home::before{
    content: "";
    background: url(../img/bg.jpg) no-repeat center center/cover;
    position: absolute;
    height: 55%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.79;
}
#home h1{
    color: white;
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
}

#services{
     margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid green;
    padding: 34px;
    margin: 10px;
    border-radius: 14px;
    background-color: rgb(200, 209, 199);
}

#services .box img{
    height: 140px;
    display: block;
    margin: auto;
}

















.h-primary{
    font-size: 2.6rem;
    padding: 12px;
}

.h-secondary{
    font-size: 2.6rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(73, 29, 29);
    border-radius: 12px;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    cursor: pointer;
}

.center{
    text-align: center;
}